___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [1]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [2]:
print(pd.__version__)

1.1.3

In [3]:
df = pd.read_csv('Ecommerce Purchases')

Скільки рядків і стовпців в наборі даних:

In [4]:
print(f'В наборі даних {df.shape[0]} рядків')
print(f'В наборі даних {df.shape[1]} стовпців')

В наборі даних 10000 рядків
В наборі даних 14 стовпців

Перевірити, чи в наборі даних містяться порожні значення:

In [5]:
print(f'В наборі даних {df.shape[0]} рядків')
print(f'Кількість рядків після видалення порожніх значень ==> {df.dropna().shape[0]}')
if df.shape[0] == df.dropna().shape[0]:
    print('Набір даних не містить порожніх значень')
else:
    print(f'Набір даних містить порожні значення в {df.shape[0] - df.dropna().shape[0]} рядках')

В наборі даних 10000 рядків
Кількість рядків після видалення порожніх значень ==> 10000
Набір даних не містить порожніх значень

In [6]:
# інший варіант
print('Кількість порожніх значень по стовпчиках')
df.isnull().sum()

Кількість порожніх значень по стовпчиках

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

Яка середня ціна закупки (Purchase Price):

In [7]:
print(f"Cередня ціна закупки (Purchase Price) ==> {df['Purchase Price'].mean()}")

Cередня ціна закупки (Purchase Price) ==> 50.34730200000025

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [8]:
a = df['Language'][df['Language'] == 'en'].count()
print(f" Кількість людей, які на веб-сайті користуються анг. мовою ==> {a}")

 Кількість людей, які на веб-сайті користуються анг. мовою ==> 1098

Скільки людей має посаду «Lawyer»?

In [9]:
j = df['Job'][df['Job'] == 'Lawyer'].count()
print(f" Кількість людей, які мають посаду «Lawyer» ==> {j}")

 Кількість людей, які мають посаду «Lawyer» ==> 30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [12]:
d = df.groupby('AM or PM').count()
print(f"Кількість людей, які зробили покупку вранці ==> {d.iloc[0:2,0 ]['AM']}")
print(f"Кількість людей, які зробили покупку після обіду ==> {d.iloc[0:2,0 ]['PM']}")

Кількість людей, які зробили покупку вранці ==> 4932
Кількість людей, які зробили покупку після обіду ==> 5068

Які 5 найпоширеніших назв вакансій?

In [13]:
df['Job'].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [14]:
name_com = df[df['Lot'] == "90 WT"]['Company'].values[0]
price = df[df['Lot'] == "90 WT"]['Purchase Price'].values[0]
# в наборі даних в Lot не містяться значення "90 Wt"
print(f'Компанія {name_com} придбала Lot: "90 WT" за {price} $')

Компанія Bright PLC придбала Lot: "90 WT" за 75.1 $

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [15]:
h = df[df['Credit Card'] == 4926535242672853]['Email'].values[0]
print(f"Електронна адреса особи номером кредитної картки 4926535242672853 ==> {h}")

Електронна адреса особи номером кредитної картки 4926535242672853 ==> bondellen@williams-garza.com

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [16]:
print(df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 100)])
print(df[(df['CC Provider'] == 'American Express')].groupby(['Company']).sum())
df.describe()
# в наборі даних не має покупку на суму понад 100 доларів

Empty DataFrame
Columns: [Address, Lot, AM or PM, Browser Info, Company, Credit Card, CC Exp Date, CC Security Code, CC Provider, Email, Job, IP Address, Language, Purchase Price]
Index: []
                                 Credit Card  CC Security Code  Purchase Price
Company
Acevedo-Smith               3337721305744244               738           98.16
Adams Group                 5469307720377003               615           46.18
Adams, Barker and Anderson  3158515607536365               123           43.24
Adams, Sanchez and Huffman   345690870181569               416           25.16
Adams-Powell                3528903113052999               357           70.70
...                                      ...               ...             ...
Young, Schmidt and Aguilar   346974891556275               875           14.27
Young, Wise and Raymond     6011100483101822               930           11.10
Young-Johnson               6011742205304877               268           37.63
Zavala, Cox and Parker      5173968976288215               125           96.12
Zuniga-Watson                 30358729416723               844            0.32

[824 rows x 3 columns]

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [17]:
u = df[df['CC Exp Date'].str.split("/").str.get(1) == "25"].nunique()["Company"]
print(f'Кількість людей, які мають кредитну картку, термін дії якої закінчується в 2025 році ==> {u}')

Кількість людей, які мають кредитну картку, термін дії якої закінчується в 2025 році ==> 1009

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [18]:
print(df['Email'].str.split("@").str.get(1).value_counts().head())

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [19]:
grby = df.groupby(['Job', 'Browser Info']).agg({'Lot':'count'})
grby

                                                                       Lot
Job                Browser Info
Academic librarian Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6_...    1
                   Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6_...    1
                   Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7_...    1
                   Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7_...    1
                   Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_2 ...    1
...                                                                    ...
Youth worker       Mozilla/5.0 (compatible; MSIE 6.0; Windows NT 5...    1
                   Mozilla/5.0 (iPod; U; CPU iPhone OS 3_0 like Ma...    1
                   Opera/8.98.(Windows 98; Win 9x 4.90; en-US) Pre...    1
                   Opera/9.24.(Windows NT 5.1; sl-SI) Presto/2.9.1...    1
                   Opera/9.40.(Windows NT 6.2; it-IT) Presto/2.9.1...    1

[9989 rows x 1 columns]

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [22]:
import pandas as pd
df = pd.read_csv('Ecommerce Purchases')
df['Actual price'] = 0
for i in df.index:
    if df.loc[i,'Purchase Price'] <= 50:
        df.loc[i,'Actual price'] = df.loc[i,'Purchase Price']*1.3
    elif df.loc[i,'Purchase Price'] > 100:
        df.loc[i,'Actual price'] = df.loc[i,'Purchase Price']*1.1
    else:
        df.loc[i,'Actual price'] = df.loc[i,'Purchase Price']*1.2
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.768
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.876
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.235
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.648
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21,98.652
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,33.319
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98,100.776
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84,50.492
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59,81.108

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [23]:
df.loc[ : ,'Language_rank'] = df.loc[ : ,'Language'].rank(ascending = False)
df.loc[ : ,'Actual price_rank'] = df.loc[ : ,'Actual price'].rank(ascending = False)
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price,Language_rank,Actual price_rank
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.768,8277.0,191.0
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.876,4967.0,2988.5
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.235,9423.0,9894.5
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.648,6063.0,2256.0
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.384,6063.0,2279.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21,98.652,3875.5,1852.5
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,33.319,2773.5,7450.0
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98,100.776,8277.0,1659.0
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84,50.492,6063.0,6126.0
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59,81.108,8277.0,3294.0

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [24]:
dc = pd.get_dummies(df['Language'])
df = pd.concat([df, dc],axis=1)
df = df.drop(['Language'], axis=1)
print(df.columns)
print(df)

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Purchase Price', 'Actual price', 'Language_rank',
       'Actual price_rank', 'de', 'el', 'en', 'es', 'fr', 'it', 'pt', 'ru',
       'zh'],
      dtype='object')
                                                Address    Lot AM or PM  \
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  46 in       PM
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  28 rn       PM
2                      Unit 0065 Box 5052\nDPO AP 27450  94 vE       PM
3                 7780 Julia Fords\nNew Stacy, WA 45798  36 vm       PM
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  20 IE       AM
...                                                 ...    ...      ...
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  92 XI       PM
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  41 JY       AM
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  74 Zh       AM
9998               0096 English Rest\nRoystad, IA 12457  74 cL       PM
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  64 Hr       AM

                                           Browser Info  \
0     Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
1     Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...
2     Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
3     Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...
4     Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...
...                                                 ...
9995  Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...
9996  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
9997  Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...
9998  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...
9999  Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...

                              Company       Credit Card CC Exp Date  \
0                     Martinez-Herman  6011929061123406       02/20
1     Fletcher, Richards and Whitaker  3337758169645356       11/18
2          Simpson, Williams and Pham      675957666125       08/19
3     Williams, Marshall and Buchanan  6011578504430710       02/24
4           Brown, Watson and Andrews  6011456623207998       10/25
...                               ...               ...         ...
9995                    Randall-Sloan   342945015358701       03/22
9996         Hale, Collins and Wilson   210033169205009       07/25
9997                     Anderson Ltd  6011539787356311       05/21
9998                         Cook Inc   180003348082930       11/17
9999                       Greene Inc  4139972901927273       02/19

      CC Security Code                  CC Provider  \
0                  900                 JCB 16 digit
1                  561                   Mastercard
2                  699                 JCB 16 digit
3                  384                     Discover
4                  678  Diners Club / Carte Blanche
...                ...                          ...
9995               838                 JCB 15 digit
9996               207                 JCB 16 digit
9997                 1                VISA 16 digit
9998               987             American Express
9999               302                 JCB 15 digit

                               Email  ... Actual price_rank de  el  en  es  \
0                  pdunlap@yahoo.com  ...             191.0  0   1   0   0
1                 anthony41@reed.com  ...            2988.5  0   0   0   0
2     amymiller@morales-harrison.com  ...            9894.5  1   0   0   0
3        brent16@olson-robinson.info  ...            2256.0  0   0   0   1
4        christopherwright@gmail.com  ...            2279.5  0   0   0   1
...                              ...  ...               ... ..  ..  ..  ..
9995          iscott@wade-garner.com  ...            1852.5  0   0   0   0
9996              mary85@hotmail.com  ...            7450.0  0   0   0   0
9997               tyler16@gmail.com  ...            1659.0  0   1   0   0
9998         elizabethmoore@reid.net  ...            6126.0  0   0   0   1
9999           rachelford@vaughn.com  ...            3294.0  0   1   0   0

      fr  it  pt  ru  zh
0      0   0   0   0   0
1      1   0   0   0   0
2      0   0   0   0   0
3      0   0   0   0   0
4      0   0   0   0   0
...   ..  ..  ..  ..  ..
9995   0   1   0   0   0
9996   0   0   1   0   0
9997   0   0   0   0   0
9998   0   0   0   0   0
9999   0   0   0   0   0

[10000 rows x 25 columns]

Кінцевий набір даних збережіть у файл з розширенням csv.

In [25]:
df.to_csv('new_table.csv')